<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.system.TwoMenuMapper">
  <resultMap id="BaseResultMap" type="com.model.system.TwoMenu">
    <id column="two_menu_id" jdbcType="VARCHAR" property="twoMenuId" />
    <result column="two_menu_name" jdbcType="VARCHAR" property="twoMenuName" />
    <result column="two_menu_url" jdbcType="VARCHAR" property="twoMenuUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    two_menu_id, two_menu_name, two_menu_url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_two_menu
    where two_menu_id = #{twoMenuId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_two_menu
    where two_menu_id = #{twoMenuId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.model.system.TwoMenu">
    insert into sys_two_menu (two_menu_id, two_menu_name, two_menu_url
      )
    values (#{twoMenuId,jdbcType=VARCHAR}, #{twoMenuName,jdbcType=VARCHAR}, #{twoMenuUrl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.model.system.TwoMenu">
    insert into sys_two_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="twoMenuId != null">
        two_menu_id,
      </if>
      <if test="twoMenuName != null">
        two_menu_name,
      </if>
      <if test="twoMenuUrl != null">
        two_menu_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="twoMenuId != null">
        #{twoMenuId,jdbcType=VARCHAR},
      </if>
      <if test="twoMenuName != null">
        #{twoMenuName,jdbcType=VARCHAR},
      </if>
      <if test="twoMenuUrl != null">
        #{twoMenuUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.system.TwoMenu">
    update sys_two_menu
    <set>
      <if test="twoMenuName != null">
        two_menu_name = #{twoMenuName,jdbcType=VARCHAR},
      </if>
      <if test="twoMenuUrl != null">
        two_menu_url = #{twoMenuUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where two_menu_id = #{twoMenuId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.system.TwoMenu">
    update sys_two_menu
    set two_menu_name = #{twoMenuName,jdbcType=VARCHAR},
      two_menu_url = #{twoMenuUrl,jdbcType=VARCHAR}
    where two_menu_id = #{twoMenuId,jdbcType=VARCHAR}
  </update>
   <select id="queryTowMenuByLoginNameAndOneMenuId"  resultMap="BaseResultMap">
	 SELECT
		sys_two_menu.two_menu_id,
		sys_two_menu.two_menu_name,
		sys_two_menu.two_menu_url
		FROM
		sys_post_menu
		INNER JOIN sys_one_menu ON sys_post_menu.one_menu_id = sys_one_menu.one_menu_id
		INNER JOIN sys_menu_correlation ON sys_one_menu.one_menu_id = sys_menu_correlation.one_menu_id
		INNER JOIN sys_two_menu ON sys_menu_correlation.two_menu_id = sys_two_menu.two_menu_id
		WHERE post_id=#{0} AND sys_menu_correlation.one_menu_id = #{1}
  </select>
  
  
  
</mapper>